.w-fit{
    width: fit-content;
}
/* .h-150{
    height: 90px;
} */
.m-fit{
    margin-bottom: 40px;

}
.fit-icon{
    width: 30px;
    height: 30px;
}
.calc-load {
    min-width: calc(100vh -100px);
}